@import "bourbon/bourbon";
@import "base/base";
@import "partials/base";
@import "grid-settings";
@import "neat/neat";

body {
  font-size: 0.8em;
  @include font;
}

a {
  &:active, &:link, &:visited {
    color: $medium_grey;
  }
  &:hover {
    color: $celestial;
  }
  &:active {
    color: #000;
  }
}

main {
  @include outer-container;
  margin-top: 6em;
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.2em;
  }
  h1, h2, h3, h4, h5, h6 {
    @include header-font;
    color: $dark_grey;
    line-height: 1.3em;
    a {
      text-decoration: none;
    }
  }

  // nodes

  .node--type-page {
    h2 {
      margin-top: 2em;
      font-size: 1.1em;
    }
    p {
      font-size: 0.9em;
    }
  }

  // work groups view
  .work-groups, .works, .news {
    font-size: 0.9em;
    ul {
      li.work {
        h2 {
          font-size: 0.9em;
          font-weight: normal;
          margin-top: 0;
        }
        float: left;
        height: 130px;
        width: 200px;
        overflow: hidden;
      }
      li.work-group {
        h2 {
          font-size: 0.9em;
          font-weight: bold;
          margin-top: 0;
        }
        article {
          float: left;
          width: 100%;
          border-bottom: 2px solid $light_grey;
          padding: 0 0 1em 0;
          margin: 0 0 1em 0;
        }
        .col1 {
          float: left;
          //          width: 20%;
        }
        .col2 {
          float: left;
          //          width: 80%;
          margin-left: 2em;
        }
      }
      li.news-item {
        border-bottom: 2px #CCC solid;
        padding-bottom: 2em;
        margin-bottom: 2em;
        h2 {
          font-size: 0.9em;
          font-weight: bold;
          margin-top: 0;
        }
        .links {
          font-size: 90%;
          margin-top: 1em;
        }
        .field--name-field-image {
          margin-top: 1em;

        }
      }
    }
  }

  // prev next nav
  .prev-next-nav {
    margin: 1em 0 1em 0;
    min-height: 2em;
    a {
      text-decoration: underline;
    }
    .prev {
      float: left;
    }
    .next {
      float: right;
    }

  }

  .credits {
    clear: both;
    margin-top: 10em;
  }

  //pagination
  .pager .pager__items {
    margin: 1em 0 1em 0;
    min-height: 2em;
    .pager__item {
      padding: 0.3em 0.7em 0.3em 0.7em;
      display: inline-block;
      margin: 0 0.5em 0 0;
      border: 1px solid $light_grey;
      &.is-active {
        font-weight: bold;
        border: 2px solid $medium_grey;
      }
      &:hover {
        background: $celestial;
        a {
          color: #FFF;
        }
      }
    }
    .pager__item--first,
    .pager__item--previous,
    .pager__item--ellipsis, .pager__item--last,
    .pager__item--next {
      // nothing atm.
    }
  }

  .block-system-main-block {
    margin-top: 3em;
  }

}

main {
  &.homepage {
    .block-system-main-block {
      margin-top: 0;
    }
  }
}

.sidebar {
  .site-name {
    font-size: 1.7em;
    line-height: 1.3em;
    margin: 0 0 0.75em;
    a {
      &:hover, &:active, &:link, &:visited {
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.main-menu {
  ul {
    margin: 3em 0 0 1.5em;
    li {
      list-style-image: url(../images/sl1.gif);
      margin: 0 0 0.7em 0;
      text-transform: lowercase;
      &:hover {
        list-style-image: url(../images/sl2.gif);

      }
    }
  }
}

.content {
  @include span-columns(8);
  @include media($tablet) {
    @include span-columns(5);
  }
  @include media($mobile) {
    @include span-columns(4 of 4);
  }
}

.sidebar {
  @include span-columns(4);
  @include media($tablet) {
    @include span-columns(3);
  }
  @include media($mobile) {
    @include span-columns(4 of 4);
  }
}

// quick n dirty block layout for the homepage
.diptych {
  max-width: 600px;
  margin-top: 20px;
  .diptych-plate1 {
    width: 290px;
    float: left;
    color: #555;
  }
  .diptych-plate2 {
    margin-left: 290px;
    padding-left: 20px;
    color: #000;
  }
  .diptych-clear {
    clear: both;
  }
}

.grid-debug {
  background: lightskyblue;
  //  @include media($desktop) {
  //    background: lightpink;
  //  }
  @include media($tablet) {
    background: lightgreen;
  }
  @include media($mobile) {
    background: lightyellow;
  }
}

button {
  // @todo do button.
  //  @include button(shiny, #ff0000);
  margin: 0 0 1em 0;
  a {
    color: #FFF;
    &:link, &:visited, &:active, &:hover {
      color: #FFF;
    }
  }
}


